<form id="registFormData">
  <table>

  <tr>
    <td id="typingGroup">
        <input id="newAction" name="newAction" type="text" class="input-block-level" maxlength="13" style="width:160px; height:26px;" value="" placeholder="新しいアクション">
    </td>
    <td><font size="-1">を</font></td>
    <td>
      <input id="interval" name="interval" type="tel" class="input-block-level" style="width:34px;" value="7">
    </td>
    <td><font size="-1">日毎で</font></td>
    <td>
      <button id="registButton" type="button" class="btn btn-primary" style="margin-left:8px;" formnovalidate>
      登録する！
      </button>
    </td>
  </tr>

  </table>
</form>
