<div class="container">

  <form class="form-signin">
    <input id="name" type="text" class="input-block-level" style="width:100%;" placeholder="名前">
    <input id="pw" type="password" class="input-block-level" style="width:100%;" placeholder="パスワード">
    <button id="loginButton" type="button" class="btn btn-large btn-primary">ログイン！</button>
  </form>

</div>
