<body onload="initializePage();">

<!--
<ul class="nav nav-tabs" role="tablist" style="background-color:#dfdfdf; margin-left:-2px; margin-right:-4px;">
  <li style="background-color:#f0f8ff;"><a style="font-size:10px" href="https://rechome16.appspot.com/lastdone/top">さいこれ</a></li>
  <li style="background-color:#ccfccc;"><a style="font-size:10px" href="https://rechome16.appspot.com/buy/top">これかう</a></li>
  <li  style="background-color:#ffdddd;"><a style="font-size:10px" href="../../dinner/top">たべこれ</a></li>
  <li style="background-color:#f5f5dc;"><a style="font-size:10px" href="https://rechome16.appspot.com/account/top">家計簿レコ</a></li>
  <li style="background-color:#fffacd;"><a style="font-size:10px" href="https://rechome16.appspot.com/train/top">ぶつタイム</a></li>
  <li class="dropdown">
    <a style="font-size:10px" class="dropdown-toggle" data-toggle="dropdown" href="https://rechome16.appspot.com/date/top#">
      食事<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="https://rechome16.appspot.com/precook/top">じょびー</a></li><li><a href="https://rechome16.appspot.com/dinner/top">たべこれ</a></li>
    </ul>
  </li>
  <li class="dropdown" style="background-color:#faf0f0;">
    <a style="font-size:10px" class="dropdown-toggle" data-toggle="dropdown" href="https://rechome16.appspot.com/date/top#">
      あとこれ<span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu">
      <li><a href="https://rechome16.appspot.com/koyo/top">こよレコ</a></li>
    </ul>
  </li>
</ul>
-->


<br>
<table style="width:100%; margin-top:-8px;">

	<!-- あとこれだけ -->
	<tbody><tr>
		<td>
			<fieldset>
				<legend>あとこれだけ！</legend>
			</fieldset>
		</td>
	</tr>

	<tr>
		<td>
			<div id="toContents">
      </div></td>
	</tr>

	<tr><td><br></td></tr>

	<!-- これだけ経ちました -->
	<tr>
		<td>
			<fieldset>
				<legend>これだけ経ちました！</legend>
			</fieldset>
		</td>
	</tr>

	<tr>
		<td>
			<div id="fromContents">
      </div></td>
	</tr>

</tbody></table>



<p>
	<button type="button" class="btn btn-link pull-right" style="margin:0px 2px; padding:2px 12px;" onclick="javascript:location.href=&#39;mailto:fujii@idealab.co.jp?subject=あとこれ要望&#39;">
		もの申す！
	</button>
</p>








</body></html>
